@import url('https://fonts.googleapis.com/css?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary: #00A97F;
  --light:rgba(133,198,218,255);
  --dark:rgba(13,13,10,255);
  --darker:rgba(234,157,90,255);
  --lighter:#cbd6cf;
  --lighter1:#c3dacc86;
  --lighter2:#e4f0e9da;
  --darker: #cca27e;
  --color: orangered;
  --search : #FF6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

.logo {
  max-width: 100;
  height: 40px;
}

a{
  text-decoration:none ;
  font-size: 14px;
}

p{
  font-size: 14px;
  margin: auto;
}
h1{
  font-weight: 500;
  color: var(--search);
  margin: 20px;
}

button{
  padding: 12px 10px;
  font-size: 14px;
  background: var(--primary1);
  color: white;
}

.active{
  font-size: 600;
  color: var(--primary);
}

.inactive{
  color:var(--primary1);
  font-size: 500;
}

/*Header starts here */
.header-top-strip a{
  color: var(--primary);

}
.input-group button{
  background: transparent;
  font-size:14px;
  color: var(--search);
}

.header-upper{
  background:var(--lighter) ;
}
.nav-links{
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-links-nav a{
  color:var(--search);
}

.social-icons a{
  color:var(--search);
}



/*Header ends here */
/* Footer starts*/
footer{
  background-color: var(--lighter2);
}
.pay img{
  transition: 0.5s ease;
}
.pay img:hover{
  transform: translateY(-8px);
}

.footer-details a{
  color:var(--primary)
}


/* Footer end*/
/* Home begins*/
.banner-details {
  background: url();
  background-position:center;
  background-size: cover;
  width: 100%;
  height: 40vh; 
  
}
/* Home ends*/